---
layout: default
permalink: /vykort/
title: Vykort
---

<main class="gallery">
{% assign reverse_postcards = site.data.postcards | reverse %}
{% for series in reverse_postcards %}
  <section class="series">
    <div class="details">
      <h2>{{ series.name }}</h2>
      <h3>{{ series.release }}</h3>
      <p>{{ series.description }}</p>
    </div>
    <div class="images">
    {% for image in series.images %}
      <a href="#lb-{{ series.id }}-{{ image.id }}" class="postcard">
        <figure>
          <img src="{{ "/vykort/" | append: series.id | append: "/" | append: image.id | append: "-sm.jpg" | relative_url }}"
               alt="{{ image.description }}"
               loading="lazy" />
        </figure>
      </a>
    {% endfor %}
    </div>
  </section>
{% endfor %}
</main>

{% for series in site.data.postcards %}
  {% for image in series.images %}
    <div id="lb-{{ series.id }}-{{ image.id }}" class="lightbox">
      <a href="#" class="backdrop" aria-label="Stäng">
        <img src="{{ "/vykort/" | append: series.id | append: "/" | append: image.id | append: "-sm.jpg" | relative_url }}" alt="{{ image.description }}" />
      </a>
      <a href="#" class="close" aria-label="Stäng">&times;</a>
      <p class="caption">{{ image.description }}</p>
    </div>
  {% endfor %}
{% endfor %}
