.postcards {
  --betongromantik-postcards-gap: 1em;
  --betongromantik-postcards-min-size: 18em;

  & > p {
    font-size: 150%;
  }

  .gallery {
    display: flex;
    flex-direction: column;

    .series {
      display: flex;
      flex-direction: row;

      .details {
        flex: 0 0 20dvw;

        h2 {
          margin-block-start: 0;
          margin-block-end: 0.25em;
        }

        h3 {
          margin-block-start: 0;
          margin-block-end: 0.1em;
          font-size: 100%;
        }
      }

      .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--betongromantik-postcards-min-size), 1fr));
        gap: var(--betongromantik-postcards-gap);
        flex: 1 1 100%;
        margin-block-end: var(--betongromantik-postcards-gap);

        .postcard {
          figure {
            display: flex;
            position: relative;
            cursor: help;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;

            img {
              width: 100%;
              aspect-ratio: 1 / 1;
            }

            figcaption {
              display: none;
            }
          }

          &.selected {
            figure {
              img {
                opacity: 0.2;
              }

              figcaption {
                display: block;
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                width: calc(100% - 2em);
                height: calc(100% - 2em);
              }
            }
          }
        }
      }
    }
  }
}
