<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}" />
    <link rel="stylesheet" href="https://use.typekit.net/mzo8oqo.css" />
    <title>{% if page.title != nil and page.title != "" %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
  </head>
  <body>
    <header>
      <a href="/"><img src="{{ "/images/betongromantik.svg" | relative_url }}" alt="Betongromantik" class="logo" /></a>
      <nav>
        <a href="{% link postcards.html %}">Vykort</a>
        <a href="{% link instagram.html %}">Instagram</a>
        <a href="{% link shop.html %}">Shop</a>
      </nav>
    </header>
    {{ content }}
    <footer>&copy; Theo Tolv 2016&ndash;{{ site.time | date: "%Y" }}</footer>
  </body>
</html>
