:root {
  --betongromantik-background: #fff;
  --betongromantik-text: #333;
  --betongromantik-link: rgb(124, 5, 122);
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: din-2014, ui-sans-serif, system-ui, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  width: 100%;
  height: 100%;
}
