:root {
  --betongromantik-background: #fff;
  --betongromantik-text: #333;
  --betongromantik-link: rgb(124, 5, 122);
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: din-2014, ui-sans-serif, system-ui, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  line-height: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background: var(--betongromantik-background);
  color: var(--betongromantik-text);
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [header-row] minmax(10rem, 10dvh)
                      [content-row] 1fr
                      [footer-row] 1em;
  column-gap: 1em;
  row-gap: 1em;
}

header {
  grid-row: header-row;

  padding-inline: 1em;
  padding-block-start: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    block-size: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 200%;
    text-transform: uppercase;

    a {
      margin-inline-start: 0.5em;
      color: var(--betongromantik-text);

      &:hover {
        color: var(--betongromantik-link);
      }

      &.selected {
        text-decoration: underline;
      }
    }
  }
}

main {
  grid-row: content-row;

  padding-inline: 1em;
}

footer {
  grid-row: footer-row;

  padding-inline: 1em;
  padding-bottom: 1em;
  text-align: end;
}

a {
  text-decoration: none;
  color: var(--betongromantik-link);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 400%;
}
